html{
	width : 100%;
	height : 100%;
}
/* Top navigation style */
.container-image
{
	top:10%;
	height: 45px;
	left :5%;
	position:absolute;
}
.container-image1
{
	top:8%;
	right:24%;
	position:absolute;
}
.container-image2
{
	top:8%;
	right:19.8%;
	position:absolute;
}

.container-image3
{
	top:8%;
	right:15.6%;
	position:absolute;
}
.overlay
{
	top:8%;
	right:10%;
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0%;
	right:0%;
	background-color:#C8C8C8;
	overflow-y: hidden;
	transition: 0.5s;

}
.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  
  
}
.overlay a {
  padding: 15px;
  text-decoration: none;
  color:white;
  font-family:calibri;
  font-size :25px;
  display: block;
  transition: 0.3s;
}
.overlay a:hover
{
	color:#b69874;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  color:black;
  font-size: 60px;
}
/* Enterprise customer block style */
.container2{

    top:18%;
	position:absolute;
	background-color :lightgray;
	height :650px;
	width : 100%;
	background-size : cover;
	
	
}
#text1
{
	
	
	text-align : center;
	font-family:  Calibri;
	font-weight :400;
	line-height :1.5;
	color :white;
	margin: 0;
	top: 25%;
    left: 50%;
    position: absolute;
    font-size:35px;
    transform: translate(-50%, -50%);
}
#text2
{
	text-align : center;
	font-family :Calibri;
	font-weight :400;
	font-size:22px;
	line-height :1.3;
	margin :0;
	color :white;
	top :33%;
	left :50%;
	position :absolute;
	text-transform : uppercase;
	transform: translate(-50%, -50%);
}
.global
{
	
	padding: 10px 24px;
	background-color :#b69874;
	border:1px;
	border-radius : 3px;
	font-family:Calibri;
	color : white;
	position:absolute;
	top : 42%;
	left :42%;
	height:40px;
	transform: translate(-50%, -50%);
}
.explore
{
	
	background-color :white;
	border:1px;
	border-radius : 3px;
	top : 42%;
	left :53%;
	height:40px;
	width:120px;
	position:absolute;
	transform: translate(-50%, -50%);
} 
/* Marketers meeting content style */
.container3
{
	top:100%;
	position:absolute;
	height :600px;
	width : 100%;
	background-image : url('./Pictures/event-bg.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: cover;
}
.container3-text1
{
	font-family :Calibri;
	font-weight :400;
	top :30%;
	left :22%;
	position :absolute;
	text-transform : uppercase;
	transform: translate(-50%, -50%);
}
.container3-text2
{
	font-family :Calibri;
	font-weight :400;
	line-height :1.4;
	color :white;
	position :absolute;
	top :35%;
	left :21%;
	position:absolute;
	transform: translate(-50%, -50%);
}
.btn-download
{
	padding: 10px 24px;
	background-color :white;
	font-family :Calibri;
	font-weight :400;
	border:1px;
	border-radius:3px;
	position:absolute;
	top : 48%;
	left :11%;
	transform: translate(-50%, -50%);
} 

/* Company Services content style */
.companyservices
{
	top:199%;
	height:500px;
	width:100%;
	position:absolute;
	
	
}
.companyservices-text1
{
	top:10%;
	left:49%;
	position:absolute;
	text-align:center;
	transform: translate(-50%, -50%);
	
}
.companyservices-text2
{
	top:15%;
	left:49%;
	position:absolute;
	font-size:20px;
	color:pink;
	transform: translate(-50%, -50%);
}
.companyservices-div1-text1
{
	font-family:Calibri;
	text-align:right;
	top:30%;
	left:22%;
	font-size:22px;
	position:absolute;
}
.companyservices-div1-text2
{
	top:38%;
	left:15%;
	right:64%;
	position:absolute;
	font-family:Calibri;
	font-size:16px;
	color:#ff99a8;
	
}
.companyservices-div1-image1
{
	top:33%;
	left:40%;
	position:absolute;
	height:100px;
	width:100px;
}
.companyservices-div1-image2
{
	top:33%;
	left:50%;
	position:absolute;
	height:100px;
	width:100px;
}
.companyservices-div1-text3
{
	font-family:Calibri;
	text-align:right;
	top:30%;
	left:61%;
	font-size:22px;
	position:absolute;
}

.companyservices-div1-text4
{
	font-family:calibri;
	top:38%;
	left:61%;
	right:17%;
	position:absolute;
	font-family:Calibri;
	font-size:16px;
	color:#ff99a8;
	
}


.companyservices-div1-text5
{
	font-family:Calibri;
	text-align:right;
	top:60%;
	left:24%;
	font-size:22px;
	position:absolute;
}
.companyservices-div1-text6
{
	top:68%;
	left:15%;
	right:64%;
	position:absolute;
	font-family:Calibri;
	font-size:16px;
	color:#ff99a8;
	
}
.companyservices-div1-image3
{
	top:63%;
	left:40%;
	position:absolute;
	height:100px;
	width:100px;
}
.companyservices-div1-image4
{
	top:63%;
	left:50%;
	position:absolute;
	height:100px;
	width:100px;
}
.companyservices-div1-text7
{
	font-family:Calibri;
	text-align:right;
	top:60%;
	left:61%;
	font-size:22px;
	position:absolute;
}

.companyservices-div1-text8
{
	font-family:calibri;
	top:68%;
	left:61%;
	right:17%;
	position:absolute;
	font-family:Calibri;
	font-size:16px;
	color:#ff99a8;
	
}

.companyservices-div1-text9
{
	font-family:Calibri;
	text-align:right;
	top:88%;
	left:22%;
	font-size:22px;
	position:absolute;
}
.companyservices-div1-text10
{
	top:96%;
	left:15%;
	right:64%;
	position:absolute;
	font-family:Calibri;
	font-size:16px;
	color:#ff99a8;
	
}
.companyservices-div1-image5
{
	top:91%;
	left:40%;
	position:absolute;
	height:100px;
	width:100px;
}
.companyservices-div1-image6
{
	top:91%;
	left:50%;
	position:absolute;
	height:100px;
	width:100px;
}
.companyservices-div1-text11
{
	font-family:Calibri;
	text-align:right;
	top:88%;
	left:61%;
	font-size:22px;
	position:absolute;
}

.companyservices-div1-text12
{
	font-family:calibri;
	top:96%;
	left:61%;
	right:17%;
	position:absolute;
	font-family:Calibri;
	font-size:16px;
	color:#ff99a8;
	
}

/* Inspirational testimony content style */

.container4
{
	top:300%;
	height :800px;
	width : 100%;
	position:absolute;
	background-image : url('./Pictures/experience-bg.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: cover;
}

.container4-h1
{
	top:13%;
	left:50%;
	position:absolute;
	text-align:center;
	color:white;
	font-family:calibri;
	font-weight:400;
	font-size:40px;
	transform: translate(-50%, -50%);
	
}
.container4-image1
{
	height:125px;
	width: 125px;
	left:15%;
	top: 28%;
	position:absolute;
}
.container4-image2
{
	height:125px;
	width: 125px;
	left:45%;
	top: 28%;
	position:absolute;
}
.container4-image3
{
	height:125px;
	width: 125px;
	left:78%;
	top: 28%;
	position:absolute;
}

.container4-text1
{
	text-align:center;
	color:gray;
	left:12%;
	right:70%;
	top: 48%;
	position:absolute;
}

.container4-text2
{
	text-align:center;
	color:white;
	left :39%;
	right:37%;
	top:48%;
	position:absolute;
	
}

.container4-text3
{
	text-align:center;
	color:gray;
	left:73%;
	right:10%;
	top: 48%;
	position:absolute;
}
.container4-image4
{ 
 
    left:15%;
	top: 67%;
	height:15px;
	position:absolute;
	
}
.container4-image5
{ 
 
    left:50%;
	top: 67%;
	height:15px;
	position:absolute;
	
}
.container4-image6
{ 
 
    left:75%;
	top: 67%;
	height:15px;
	position:absolute;
	
}
.container4-image7
{
	top : 85%;
	left:46%;
	right:37%;
	height:19px;
	position:absolute;
}
/* Upcoming Events content style */
.container5
{
	top:428%;
	height:700px;
	width:100%;
	position:absolute;
}
.container5-text1
{
	top:10%;
	left:13%;
	position:absolute;
	font-family:Calibri;
	font-size:35px;
}
.container5-image1
{
	left:13%;
	top: 23%;
	height:150px;
	width:220px;
	position:absolute;
}
.container5-text2
{
		left:31%;
		top:19%;
		font-family:Calibri;
		font-weight:550;
		font-size:22px;
		position:absolute;
		
}
.container5-image2
{
	left:31%;
	top :27%;
	position:absolute;
}
.container5-text3
{
		left:34%;
		top:25%;
		font-family:Calibri;
		font-style:italic;
		position:absolute;
		
}
.container5-image3
{
	left:31%;
	top :31%;
	position:absolute;
}
.container5-text4
{
		left:34%;
		top:28.5%;
		font-family:Calibri;
		font-style:italic;
		position:absolute;
		
}
.container5-image4
{
	left:31%;
	top :35%;
	position:absolute;
}
.container5-text5
{
		left:34%;
		top:32%;
		font-family:Calibri;
		font-style:italic;
		position:absolute;
		
}
.container5-btn1
{
	left:31%;
	top: 40%;
	position:absolute;
	padding: 8px 12px;
	font-size: 12px;
	border : 1px;
	border-radius :3px;
	display: inline-block;
	background-color :#A0522D;
	opacity : 0.3;
	color:white;
	font-family:Calibri;
	width :90px;
}
.container5-image5
{
	left:13%;
	top: 49%;
	height:150px;
	width:220px;
	position:absolute;
}
.container5-text6
{
		left:31%;
		top:45%;
		font-family:Calibri;
		font-weight:550;
		font-size:22px;
		position:absolute;
		
}
.container5-image6
{
	left:31%;
	top :53%;
	position:absolute;
	
}
.container5-text7
{
		left:34%;
		top:51%;
		font-family:Calibri;
		font-style:italic;
		position:absolute;
		
}
.container5-image7
{
	left:31%;
	top :57%;
	position:absolute;
}
.container5-text8
{
		left:34%;
		top:54.5%;
		font-family:Calibri;
		font-style:italic;
		position:absolute;
		
}

.container5-image8
{
	left:31%;
	top :61%;
	position:absolute;
}
.container5-text9
{
		left:34%;
		top:58%;
		font-family:Calibri;
		font-style:italic;
		position:absolute;
		
}

.container5-btn2
{
	left:31%;
	top: 66.5%;
	position:absolute;
	position:absolute;
	padding: 8px 12px;
	font-size: 12px;
	border : 1px;
	border-radius :3px;
	display: inline-block;
	background-color :#A0522D;
	opacity : 0.3;
	color:white;
	font-family:Calibri;
	width :90px;

}


.container5-image9
{
	left:13%;
	top: 75%;
	height:150px;
	width:220px;
	position:absolute;
}
.container5-text10
{
		left:31%;
		top:71%;
		font-family:Calibri;
		font-weight:550;
		font-size:22px;
		position:absolute;
		
}

.container5-image10
{
	left:31%;
	top :79%;
	position:absolute;
	
}
.container5-text11
{
		left:34%;
		top:77%;
		font-family:Calibri;
		font-style:italic;
		position:absolute;
		
}

.container5-image11
{
	left:31%;
	top :83%;
	position:absolute;
}
.container5-text12
{
		left:34%;
		top:81%;
		font-family:Calibri;
		font-style:italic;
		position:absolute;
		
}

.container5-image12
{
	left:31%;
	top :87%;
	position:absolute;
}
.container5-text13
{
		left:34%;
		top:84%;
		font-family:Calibri;
		font-style:italic;
		position:absolute;
		
}
.container5-btn3
{
	left:31%;
	top: 92.5%;
	position:absolute;
	position:absolute;
	padding: 8px 12px;
	font-size: 12px;
	border : 1px;
	border-radius :3px;
	display: inline-block;
	background-color :#A0522D;
	opacity : 0.3;
	color:white;
	font-family:Calibri;
	width :90px;

}




.container5-image13
{
	left:13%;
	top: 101%;
	height:150px;
	width:220px;
	position:absolute;
}
.container5-text14
{
		left:31%;
		top:96%;
		font-family:Calibri;
		font-weight:550;
		font-size:22px;
		position:absolute;
		
}

.container5-image14
{
	left:31%;
	top :105%;
	position:absolute;
	
}
.container5-text15
{
		left:34%;
		top:102%;
		font-family:Calibri;
		font-style:italic;
		position:absolute;
		
}

.container5-image15
{
	left:31%;
	top :109%;
	position:absolute;
}
.container5-text16
{
		left:34%;
		top:105.5%;
		font-family:Calibri;
		font-style:italic;
		position:absolute;
		
}

.container5-image16
{
	left:31%;
	top :112.5%;
	position:absolute;
}
.container5-text17
{
		left:34%;
		top:109%;
		font-family:Calibri;
		font-style:italic;
		position:absolute;
		
}
.container5-btn4
{
	left:31%;
	top: 117%;
	position:absolute;
	position:absolute;
	padding: 8px 12px;
	font-size: 12px;
	border : 1px;
	border-radius :3px;
	display: inline-block;
	background-color :#A0522D;
	opacity : 0.3;
	color:white;
	font-family:Calibri;
	width :90px;

}
/* Blog content style */
.container6
{
	top:578%;
	height:650px;
	width:100%;
	position:absolute;
	background-color:#F8F8F8;
}
.container6-text1
{
	top:10%;
	left:50%;
	position:absolute;
	text-transform:uppercase;
	font-family:Arial, Helvetica;
	font-size:27px;
	font-weight:bolder;
	font-style:bold;
	transform: translate(-50%, -50%);
}
.container6-text2
{
	top:16%;
	left:50%;
	position:absolute;
	font-family:Arial, Helvetica;
	font-style:italic;
	font-size:12px;
	color: #d4b791;
	transform: translate(-50%, -50%);
}
.container6-image
{
	height:170px;
	width:280px;
	top:28%;
	left:12%;
	position:absolute;
}
.container6-div1
{
	top:54%;
	left:12%;
	position:absolute;
	height:230px;
	width:85px;
	background-color:#ebe2d9;
	text-align:center;
	
}
.container-text
{
	font-size:18px;
	color: #c8b7a5;
	padding: 1px;
}
.container-number
{
	font-size:42px;
	color: #b69874;
	padding-left:12px;
	text-align:center;
	position:absolute;
	
}
.container6-div2
{
	top:54%;
	height:230px;
	width:200px;
	left:18%;
	position:absolute;
	background-color:white;

}
.container6-div2-text1
{
	font-family:calibri;
	font-size:20px; 
	margin-left:20px;
	color:#404040;
	margin-bottom: 0.5rem;
	position:absolute;
}

.container6-div2-text2
{
	margin-left:20px;
	font-family:calibri;
	font-size:15px;
	color:#a6a6a6;
	top:23%;
	position:absolute;
	line-height:1.3;
}




.container6-image2
{
	height:170px;
	width:280px;
	top:28%;
	left:34.5%;
	position:absolute;
}
.container6-div3
{
	top:54%;
	left:34.5%;
	position:absolute;
	height:230px;
	width:85px;
	background-color:#ebe2d9;
	text-align:center;
	
}

.container-text1
{
	font-size:18px;
	color: #c8b7a5;
	padding: 1px;
}
.container-number1
{
	font-size:42px;
	color: #b69874;
	padding-left:12px;
	text-align:center;
	position:absolute;
	
}

.container6-div4
{
	top:54%;
	height:230px;
	width:200px;
	left:40.7%;
	position:absolute;
	background-color:white;

}
.container6-div4-text1
{
	font-family:calibri;
	font-size:20px; 
	margin-left:20px;
	color:#404040;
	margin-bottom: 0.5rem;
	position:absolute;
}

.container6-div4-text2
{
	margin-left:20px;
	font-family:calibri;
	font-size:15px;
	color:#a6a6a6;
	top:23%;
	position:absolute;
	line-height:1.3;
}



.container6-image3
{
	height:170px;
	width:280px;
	top:28%;
	left:57%;
	position:absolute;
}

.container6-div5
{
	top:54%;
	left:57%;
	position:absolute;
	height:230px;
	width:85px;
	background-color:#ebe2d9;
	text-align:center;
	
}

.container-text2
{
	font-size:18px;
	color: #c8b7a5;
	padding: 1px;
}
.container-number2
{
	font-size:42px;
	color: #b69874;
	padding-left:12px;
	text-align:center;
	position:absolute;
	
}

.container6-div6
{
	top:54%;
	height:230px;
	width:200px;
	left:63%;
	position:absolute;
	background-color:white;

}
.container6-div6-text1
{
	font-family:calibri;
	font-size:20px; 
	margin-left:20px;
	color:#404040;
	margin-bottom: 0.5rem;
	position:absolute;
}

.container6-div6-text2
{
	margin-left:20px;
	font-family:calibri;
	font-size:15px;
	color:#a6a6a6;
	top:23%;
	position:absolute;
	line-height:1.3;
}
/* Footer content style */
.container7
{
	top:687%;
	height:380px;
	width:100%;
	position:absolute;
	background-color:#1a1a1a;
	
}
.container7-text1
{
	font-family :Calibri;
	font-weight :400;
	font-size:42px;
	color :white;
	top:20%;
	left :50%;
	position :absolute;
	text-transform:uppercase;
	transform: translate(-50%, -50%);
}
.container7-textbox
{
	left:35%;
	top:43%;
	position:absolute;
	font-size:18px;
	font-family:calibri;
	font-style:bold;
	width:325px;
	height:50px;
	padding:22px;
}
.container7-btn
{
	left:59%;
	top: 43%;
	position:absolute;
	padding: 8px 12px;
	font-size: 17px;
	border : 1px;
	border-radius :3px;
	display: inline-block;
	background-color :#b69874 ;
	color:white;
	font-family:Calibri;
	width :110px;
	height : 50px;
}
.footer
{ 
	top: 67%;
	left:29%;
	position:absolute;
	font-family:calibri;
	color:white;
}
.footer-text1
{
	font-family:calibri;
	color:white;
	text-decoration:none;
	margin: 0 12px;
	float:left;
	
}


img {
  vertical-align: middle;
  border-style: none;container3
}
#image
{
	padding-top : 25px;
	padding-left : 20px;
}